<div id="<%= dom_id comment %>">
  <p>
    <strong>Comentario</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= comment.user.email%>
  </p>

  <p>
    <strong>Noticia:</strong>
    <%= comment.news.title%>
  </p>

</div>
