<p style="color: green"><%= notice %></p>

<h1>Comentarios</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", comment %>
    </p>
  <% end %>
</div>

<div class="text-center mb-4">
  <%= link_to "Nuevo comentario", new_comment_path, class: "btn btn-primary"  %>
</div>