<p style="color: green"><%= notice %></p>

<h1>Noticias</h1>

<div id="news">
  <% @news.each do |news| %>
    <%= render news %>
    <p>
      <%= link_to "Show this news", news %>
    </p>
  <% end %>
</div>

<div class="text-center mb-4">
  <%= link_to "Nueva noticia", new_news_path, class: "btn btn-primary" %>
</div>
